.page{
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas:
    "head head"
    "nav  main"
    "foot foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

.page > header {
  grid-area: head;
 
}

.page > nav {
  grid-area: nav;
  
}

.page > main {
  grid-area: main;
  
}

.page > footer {
  grid-area: foot;
}


